$break-medium: 960px
$break-small: 780px
$color-primary: #f15a24
$color-white: #fff
$color-light-gray: #eee
$color-dark-gray: #4d4948
$color-transparent: rgba(0,0,0,0)

body
    margin: 0
    padding: 0
    font-family: 'Roboto', sans-serif
    min-height: 100vh
    display: flex
    flex-direction: column
    justify-content: space-between

    a
        color: $color-primary

.bordered
    display: inline-block
    text-decoration: none
    font-weight: 500
    font-size: 14pt
    transition: background-color 150ms, color 150ms
    padding: 10px 25px
    border: 2px solid
    border-radius: 5px
    background-color: $color-transparent

    &:hover
        text-decoration: none

    &.primary
        color: $color-primary
        border-color: $color-primary

        &:hover
            background-color: $color-primary
            color: $color-white

    &.secondary
        color: $color-dark-gray
        border-color: $color-dark-gray

        &:hover
            background-color: $color-dark-gray
            color: $color-white

        &.reversed
            color: $color-white
            border-color: $color-white

            &:hover
                background-color: $color-white
                color: $color-dark-gray

.container
    max-width: 1280px
    padding: 0 40px
    margin: 0 auto

    @media screen and (max-width: $break-medium)
        padding: 0 20px

.header-landing
    color: $color-white
    background: $color-light-gray
    text-align: center

    .app-link
        position: absolute
        right: 20px
        top: 20px

        @media screen and (max-width: $break-small)
            display: none

    .logo
        width: 100%
        max-width: 800px


    .subtitle
        width: 100%
        text-align: center
        color: $color-dark-gray
        font-size: 27pt
        padding-bottom: 60px

        @media screen and (max-width: $break-medium)
            font-size: 22pt

        @media screen and (max-width: $break-small)
            font-size: 16pt

        p
            margin: 5px 20px

.header
    color: $color-dark-gray
    height: 100px
    background: $color-light-gray

    .navbar
        height: 100px
        display: flex
        justify-content: space-between
        align-items: center

        .brand
            display: flex
            align-items: center

            h1
                font-size: 18pt
                font-weight: 500

                img
                    height: 40px
                    vertical-align: middle
                    margin-top: -5px
                    margin-right: 20px

                a
                    color: $color-dark-gray
                    text-decoration: none

.content
    h2
        font-size: 18pt
        font-weight: 500
        margin-top: 0

    p
        font-size: 14pt
        line-height: 24.75pt

    .row
        max-width: 960px
        padding: 0 40px
        margin: 50px auto 100px auto

        li
            text-align: justify

        ol > li
            margin-bottom: 1em

        .contact-table
            width: 100%
            border-collapse: collapse

            tr
                td, th
                    padding: 10px

                &:nth-child(odd)
                    background: #f0f0f0

            th
                vertical-align: top
                text-align: left
                width: 15%

        .download
            text-align: center
            padding: 50px 0

    .container
        margin: 200px auto

        @media screen and (max-width: $break-medium)
            margin: 100px auto

        &:first-child
            margin-top: 100px

    .content-row
        display: flex
        align-items: center
        margin: 200px auto

        @media screen and (max-width: $break-small)
            display: block

        &.flipped
            flex-direction: row-reverse

            img
                margin-right: 60px

        &:nth-child(even)
            img
                margin-left: 60px

        .text
            a
                margin-top: 10px

        img
            display: block
            flex: 0 0 450px
            box-shadow: 0 5px 30px rgba(0, 0, 0, 0.15)

            @media screen and (max-width: $break-medium)
                flex: 0 0 315px

            @media screen and (max-width: $break-small)
                width: 450px
                max-width: 100%
                margin: 40px auto !important

    .options
        .options-row
            display: flex
            justify-content: space-between

            @media screen and (max-width: $break-small)
                display: block

            .option
                width: 30%
                border-radius: 5px
                background: $color-light-gray
                display: flex
                flex-direction: column
                justify-content: space-between
                box-shadow: 0 5px 30px rgba(0,0,0,.15)

                @media screen and (max-width: $break-small)
                    width: 100%

                h3
                    font-size: 16pt
                    padding: 20px
                    margin: 0
                    border-bottom: 1px solid darken($color-light-gray, 15)

                .description
                    padding: 0 20px

                    ul
                        padding-left: 20px

                        li
                            list-style-type: disc
                            font-size: 14pt


                .action
                    text-align: center
                    margin: 20px 0

                &.dark
                    background: $color-dark-gray
                    color: $color-white

                    h3
                        border-bottom-color: lighten($color-dark-gray, 10)

                &.primary
                    background: $color-primary
                    color: $color-white

                    h3
                        border-bottom-color: darken($color-primary, 15)

                    a
                        color: $color-white


.footer
    background: #4A4A4A
    color: $color-white
    min-height: 200px
    padding: 20px 0
    display: flex
    align-items: center

    .footer-content
        width: 100%
        display: flex
        justify-content: space-between
        align-items: top

        @media screen and (max-width: $break-small)
            display: inline-block

        .footer-content-section
            font-size: 10.5pt
            min-width: 120px

            @media screen and (max-width: $break-small)
                margin-bottom: 30px

                &:last-child
                    margin-bottom: 0

            strong
                font-weight: 500

            &.contact
                flex-grow: 1

            &.team
                flex-grow: 3
                padding: 0 80px

                ul
                    li
                        display: inline-block
                        margin-right: 20px
                        margin-bottom: 20px

                        img
                            height: 40px

                @media screen and (max-width: $break-medium)
                    padding: 0 20px

                @media screen and (max-width: $break-small)
                    padding: 0

            &.links
                flex-grow: 1

            ul
                margin: 1em 0
                padding: 0
                list-style: none

                li
                    a
                        display: inline-block
                        padding: 2px 0
                        color: $color-white
                        opacity: 0.5
                        transition: opacity 150ms

                        &:hover
                            opacity: 0.8

#mc_embed_signup
    background: #eee
    clear: left
    width: 100%
    padding: 50px 20px
    box-sizing: border-box

    label
        font-size: 14pt

    input.email
        font-family: 'Roboto', sans-serif
        font-size: 10.5pt
        font-weight: 500
        padding: 10px 20px
        height: initial !important

    .button
        font-family: 'Roboto', sans-serif
        font-size: 10.5pt
        font-weight: 500
        padding: 10px 20px
        height: initial
        line-height: initial
        border: 1px solid #ABB0B2

input
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
