html
    include ../partials/head.pug
    +head('About | Data Stewardship Wizard')
    body
        include ../partials/header.pug

        .container.container-full.container-about
            h2 About
            
            .about
                .about-text
                    p <strong>We bring together data stewards and researchers</strong> to efficiently compose data management plans (DMPs) for their research projects.
                    p Data Stewards capture and combine their <strong>knowledge and expertise with respect</strong> to the specific needs of a domain or an organisation. Researchers are <strong>truly guided</strong> through composing a DMP which can be then exported using selected template and format, <strong>including machine-actionable</strong>.
                    p The benefit lies not only in having a nowadays often <strong>obligatory DMP for funders</strong> but mainly learning how to handle data correctly, make them <strong>FAIR</strong>, maintain them well during the project, and curate them <strong>long-term</strong>.
                .about-image
                    img(src="/static/dsw-logo-full-color-transparent.svg")
            
            h3#team The DSW Core Team

            .team
                .team-row
                    .member
                        img(src="/static/team/robert.jpeg")
                        .member-info
                            strong Robert Pergl
                            span Project Coordinator
                            .links
                                a(href="https://www.linkedin.com/in/robertpergl/", target="_blank")
                                    img(src="/static/icons/linkedin.svg", alt="LinkedIn")
                                a(href="https://github.com/roper79", target="_blank")
                                    img(src="/static/icons/github.svg", alt="GitHub")
                                a(href="https://twitter.com/RobertPergl", target="_blank")
                                    img(src="/static/icons/twitter.svg", alt="Twitter")
                                a(href="https://orcid.org/0000-0003-2980-4400", target="_blank")
                                    img(src="/static/icons/orcid.svg", alt="ORCID")
                    .member
                        img(src="/static/team/rob.jpeg")
                        .member-info
                            strong Rob Hooft
                            span DS Knowledge Expert
                            .links
                                a(href="https://www.linkedin.com/in/robhooft/", target="_blank")
                                    img(src="/static/icons/linkedin.svg", alt="LinkedIn")
                                a(href="https://github.com/rwwh", target="_blank")
                                    img(src="/static/icons/github.svg", alt="GitHub")
                                a(href="https://twitter.com/rwwh", target="_blank")
                                    img(src="/static/icons/twitter.svg", alt="Twitter")
                                a(href="https://orcid.org/0000-0001-6825-9439", target="_blank")
                                    img(src="/static/icons/orcid.svg", alt="ORCID")
                                    
                .team-row
                    .member
                        img(src="/static/team/vojtech.jpeg")
                        .member-info
                            strong Vojtěch Knaisl
                            span Backend Developer
                            .links
                                a(href="https://www.linkedin.com/in/vojtech-knaisl/", target="_blank")
                                    img(src="/static/icons/linkedin.svg", alt="LinkedIn")
                                a(href="https://github.com/vknaisl", target="_blank")
                                    img(src="/static/icons/github.svg", alt="GitHub")
                                a(href="https://twitter.com/VojtechKnaisl", target="_blank")
                                    img(src="/static/icons/twitter.svg", alt="Twitter")
                                a(href="https://orcid.org/0000-0003-0103-8468", target="_blank")
                                    img(src="/static/icons/orcid.svg", alt="ORCID")
                    .member
                        img(src="/static/team/jan.jpeg")
                        .member-info
                            strong Jan Slifka
                            span Frontend Developer
                            .links
                                a(href="https://www.linkedin.com/in/jan-slifka/", target="_blank")
                                    img(src="/static/icons/linkedin.svg", alt="LinkedIn")
                                a(href="https://github.com/janslifka", target="_blank")
                                    img(src="/static/icons/github.svg", alt="GitHub")
                                a(href="https://twitter.com/janslifka", target="_blank")
                                    img(src="/static/icons/twitter.svg", alt="Twitter")
                                a(href="https://orcid.org/0000-0002-4941-0575", target="_blank")
                                    img(src="/static/icons/orcid.svg", alt="ORCID")
                    .member
                        img(src="/static/team/marek.jpeg")
                        .member-info
                            strong Marek Suchánek
                            span Leonardo da Vinci
                            .links
                                a(href="https://www.linkedin.com/in/mareksuchanek/", target="_blank")
                                    img(src="/static/icons/linkedin.svg", alt="LinkedIn")
                                a(href="https://github.com/MarekSuchanek", target="_blank")
                                    img(src="/static/icons/github.svg", alt="GitHub")
                                a(href="https://twitter.com/MarekSuchanek_", target="_blank")
                                    img(src="/static/icons/twitter.svg", alt="Twitter")
                                a(href="https://orcid.org/0000-0001-7525-9218", target="_blank")
                                    img(src="/static/icons/orcid.svg", alt="ORCID")
                .team-row
                    .member
                        img(src="/static/team/jana.jpeg")
                        .member-info
                            strong Jana Freeman
                            span Community Manager
                            .links
                                a(href="https://www.linkedin.com/in/jana-tremlova-praha/", target="_blank")
                                    img(src="/static/icons/linkedin.svg", alt="LinkedIn")
                                a(href="https://twitter.com/FreemanJanaCZ", target="_blank")
                                    img(src="/static/icons/twitter.svg", alt="Twitter")
                                a(href="mailto:jana.freeman@ds-wizard.org")
                                    img(src="/static/icons/envelope-solid.svg", alt="Email")
                    
                    .member
                        img(src="/static/team/tereza.jpg")
                        .member-info
                            strong Tereza Machačová
                            span Intern
                            .links
                                | &nbsp;

                    .member
                        img(src="/static/team/jiri.jpeg")
                        .member-info
                            strong Jiří Vondrášek
                            span Business and Strategic Advisory
                            .links
                                a(href="https://www.linkedin.com/in/jiri-vondrasek-a065235/", target="_blank")
                                    img(src="/static/icons/linkedin.svg", alt="LinkedIn")
                                a(href="https://orcid.org/0000-0002-6066-973X", target="_blank")
                                    img(src="/static/icons/orcid.svg", alt="ORCID")

            h3#advisory-board Advisory Board

            p DSW Advisory Board is a non-decision making body composed of industry leaders, prominent experts and academics specialized in the field of data management planning, data stewardship, data fairification, and other related fields. DSW Advisory Board's mission is to support and advise the DSW core team to steer the DSW development, adoption of the DSW by a broad community, and embedding it in practice.

            .team.advisory-board
                .team-row
                    .member
                        img(src="/static/team/ab/pinar-alper.jpg")
                        .member-info
                            strong
                                a(href="https://wwwen.uni.lu/lcsb/people/pinar_alper", target="_blank") Pinar Alper
                            span ELIXIR Luxembourg
                                                        
                    .member
                        img(src="/static/team/ab/korbinian-boesl.jpg")
                        .member-info
                            strong 
                                a(href="https://www.uib.no/en/persons/Korbinian.Boesl", target="_blank") Korbinian Bösl
                            span ELIXIR Norway, Centre for Digital Life Norway, Computational Biological Unit - University of Bergen
                    
                    .member
                        img(src="/static/team/ab/flora-danna.jpg")
                        .member-info
                            strong 
                                a(href="https://www.elixir-belgium.org/index.php/organisation/collaborators/flora-danna", target="_blank") Flora D'Anna
                            span ELIXIR Belgium, VIB-UGent Center for Plant Systems Biology

                    .member
                        img(src="/static/team/ab/kristina-hettne.jpg")
                        .member-info
                            strong 
                                a(href="https://www.universiteitleiden.nl/en/staffmembers/kristina-hettne", target="_blank") Kristina Hettne
                            span Centre for Digital Scholarship, Leiden University Libraries
                                
                    .member
                        img(src="/static/team/ab/erik-hjerde.jpg")
                        .member-info
                            strong 
                                a(href="https://en.uit.no/ansatte/person?p_document_id=41977", target="_blank") Erik Hjerde
                            span ELIXIR Norway, The Arctic University of North Norway
                                                                                         
                    .member
                        img(src="/static/team/ab/niclas-jareborg.jpg")
                        .member-info
                            strong 
                                a(href="https://nbis.se/about/staff/niclas-jareborg/", target="_blank") Niclas Jareborg
                            span ELIXIR Sweden, National Bioinformatics Infrastructure Sweden

                    .member
                        img(src="/static/team/ab/yvonne-kallberg.jpg")
                        .member-info
                            strong 
                                a(href="https://nbis.se/about/staff/yvonne-kallberg/", target="_blank") Yvonne Kallberg
                            span ELIXIR Sweden, National Bioinformatics Infrastructure Sweden
          
                    .member
                        img(src="/static/team/ab/brane-leskosek.jpg")
                        .member-info
                            strong 
                                a(href="https://www.linkedin.com/in/brane-lesko%C5%A1ek-4a4479a/", target="_blank") Brane Leskošek
                            span ELIXIR Slovenia, University of Ljubljana, Faculty of Medicine, IBMI
                     
                    .member
                        img(src="/static/team/ab/barbara-magagna.jpg")
                        .member-info
                            strong 
                                a(href="https://orcid.org/0000-0003-2195-3997", target="_blank") Barbara Magagna
                            span Environment Agency Austria
                     
                    .member
                        img(src="/static/team/ab/tomasz-miksa.jpg")
                        .member-info
                            strong 
                                a(href="https://www.sba-research.org/team/tomasz-miksa/", target="_blank") Tomasz Miksa
                            span TU Wien &amp; SBA Research
                                                                                                              
                    .member
                        img(src="/static/team/ab/barend-mons.jpg")
                        .member-info
                            strong 
                                a(href="https://orcid.org/0000-0003-3934-0072", target="_blank") Barend Mons
                            span GO FAIR                                                                                                        
                    
                    .member
                        img(src="/static/team/ab/joao-moreira.jpg")
                        .member-info
                            strong 
                                a(href="https://people.utwente.nl/j.luizrebelomoreira", target="_blank") João Moreira
                            span University of Twente
                                                                      
                    .member
                        img(src="/static/team/ab/valentina-pasquale.jpg")
                        .member-info
                            strong 
                                a(href="https://www.iit.it/people/valentina-pasquale", target="_blank") Valentina Pasquale
                            span Istituto Italiano di Tecnologia

                    .member
                        img(src="/static/team/ab/erik-schultes.jpg")
                        .member-info
                            strong 
                                a(href="http://orcid.org/0000-0001-8888-635X", target="_blank") Erik Schultes
                            span GO FAIR
                  

        include ../partials/footer.pug