html
    include ../partials/head.pug
    +head('BioData.pt Experience with DSW | Data Stewardship Wizard')
    body
        include ../partials/header.pug

        .container.container-default
            h2 BioData.pt experience with DSW

            h3 What is BioData.pt

            p BioData.pt is the Portuguese distributed e-infrastructure for biological data and the Portuguese ELIXIR node. Its mission is to support the national scientific system through best practices in data management and state of the art data analysis. It interfaces with both academia and industry, making research available for innovation, namely in sectors such as agro-food and forestry, sea, and health.

            h3 What does BioData.pt do?

            p In compliance with its mission, BioData.pt provides three types of <a href="http://services.biodata.pt/data_management.html" target="_blank">Data Management Services</a>: (1) <em>Project Data Management</em>. Focusing on providing consulting services in data management; (2) The <em>Data Management Portal</em>. A digital library for the hosting of data from the BioData.pt communities; and (3) The <em>Ready For BioData Management</em>  programme. A capacity building programme to empower researchers in data management.

            h3 What are BioData.pt’s plans for the DSW?

            p The Data Stewardship Wizard was brought in as a DMP creation tool to be used in the context of the <em>Ready For BioData Management</em> programme. Currently the course is being revised to operate fully online, with events being scheduled to the first quarter of 2021. The DSW will play a key role in its operation, by allowing participants to use <a href="https://biodata-pt.ds-wizard.org" target="_blank">BioData.pt’s DSW instance</a> to create DMP documents based on real projects.

            h3 What are our future goals?

            p Some of our research team has also been collaborating with the DSW to develop the <a href="https://github.com/RDA-DMP-Common/RDA-DMP-Common-Standard/tree/master/ontologies" target="_blank">DSCO</a> RDF/XML extraction format. Our goal for the future is to have these serialisations of DMP document be used by automated systems to enact data management activities.

            p
                | <strong>João Cardoso</strong>, INESC-ID & BioData.pt, Lisbon, Portugal

        include ../partials/footer.pug