html
    include ../partials/head.pug
    +head('DSW Compared to Other DMP Tools | Data Stewardship Wizard')
    body
        include ../partials/header.pug

        .container.container-full.container-comparison
            h2 DSW Compared to Other DMP Tools

            .comparison-table-wrapper
                table.comparison-table
                    colgroup
                        col
                        col
                        col.tool
                        col
                        col
                        col
                        col
                        col
                        col
                        col
                    thead
                        tr
                            th.feature.sticky
                            th.dsw.sticky
                                img(src="/static/dsw-logo-vertical-color-transparent.svg", alt="DSW")
                            th DMPonline
                                small Free
                            th DMPonline
                                small Subscription
                            th DMPTool
                            th Argos
                            th DataWiz
                            th easyDMP
                    
                    tbody
                        tr
                            td.feature.sticky Template Selection
                            td.dsw.sticky
                                .yes
                            td
                                .yes
                            td
                                .yes
                            td
                                .yes
                            td
                                .yes
                            td
                                .limited Limited
                            td
                                .yes
                        
                        tr
                            td.feature.sticky Detailed Export Settings
                            td.dsw.sticky
                                .yes
                            td
                                .yes
                            td
                                .yes
                            td
                                .yes
                            td  
                                .yes
                            td
                                .limited Limited
                            td
                                .limited Limited
                        
                        tr
                            td.feature.sticky Template Creation
                            td.dsw.sticky
                                .yes
                            td
                                .no
                            td
                                .yes
                            td
                                .limited Limited
                            td
                                .yes
                            td
                                .no
                            td
                                .limited Limited
                        
                        tr
                            td.feature.sticky Template Styling
                            td.dsw.sticky
                                .yes
                            td
                                .no
                            td
                                .yes
                            td
                                .limited Limited
                            td
                                .unknown Unknown
                            td
                                .limited Limited
                            td
                                .limited Limited
                        
                        tr
                            td.feature.sticky Project Phases
                            td.dsw.sticky
                                .yes
                            td
                                .no
                            td
                                .yes
                            td
                                .yes
                            td
                                .unknown Unknown
                            td
                                .limited Limited
                            td
                                .no
                        
                        tr
                            td.feature.sticky Suitable for Worldwide Use
                            td.dsw.sticky
                                .yes
                            td
                                .limited Limited
                            td
                                .yes
                            td
                                .limited Limited
                            td
                                .yes
                            td
                                .limited Limited
                            td
                                .yes
                        
                        tr
                            td.feature.sticky Various Sharing Options
                            td.dsw.sticky
                                .yes
                            td
                                .limited Limited
                            td
                                .limited Limited
                            td
                                .limited Limited
                            td
                                .limited Limited
                            td
                                .limited Limited
                            td
                                .limited Limited
                        
                        tr
                            td.feature.sticky Machine-Actionability
                            td.dsw.sticky
                                .yes
                            td
                                .limited Limited
                            td
                                .limited Limited
                            td
                                .limited Limited
                            td
                                .yes
                            td
                                .limited Limited
                            td
                                .limited Limited
                        
                        tr
                            td.feature.sticky FAIR Metrics Information
                            td.dsw.sticky
                                .yes
                            td
                                .no
                            td
                                .no
                            td
                                .no
                            td
                                .yes
                            td
                                .no
                            td
                                .limited Limited
                        
                        tr
                            td.feature.sticky TODOs
                            td.dsw.sticky
                                .yes
                            td
                                .no
                            td
                                .no
                            td
                                .no
                            td
                                .unknown Unknown
                            td
                                .no
                            td
                                .no
                        
                        tr
                            td.feature.sticky Live Collaboration
                            td.dsw.sticky
                                .yes
                            td
                                .no
                            td
                                .no
                            td
                                .no
                            td
                                .no
                            td
                                .no
                            td
                                .no     

                        tr
                            td.feature.sticky Languages<br>(other than English)
                            td.dsw.sticky
                                .no
                            td
                                .yes
                            td
                                .yes
                            td
                                .yes
                            td
                                .limited Limited
                            td
                                .yes
                            td
                                .no

                        tr
                            td.feature.sticky Funder Templates Provided
                            td.dsw.sticky
                                .limited Limited
                            td
                                .yes
                            td
                                .yes
                            td
                                .yes
                            td
                                .yes
                            td
                                .limited Limited
                            td
                                .limited Limited

            p.info Information relevant to Semptember of 2020.

            .feature
                h3 Template Selection
                p One of the key needs is the possibility to choose a questionnaire template from an existing list of templates. These templates can be both well-known templates of important funders and templates created for specific situations and projects.

            .feature
                h3 Detailed Export Settings
                p “The more languages you speak, the more times you are human.” Or the less known equivalent of this valid for Data Stewardship Wizard, “The more export formats you know, the more times you make users happy.”

            .feature
                h3 Template Creation
                p It is not possible to have the perfect template for every person and situation. That is why we offer you the option to create your own template based on your specific use case.

            .feature
                h3 Template Styling
                p If you need to style your template with a logo of your organization, use a different font or specific header or footer, as an administrator you can set it up by yourself. If you have any difficulties to do so, there is a <a href="https://doi.org/10.5281/zenodo.4286272" target="_blank">Template Development Kit</a> tutorial video to help you out!

            .feature
                h3 Project Phases
                p We know that you might not know all the answers to all questions at the time of creation of the data management plan. That is the reason why we support project phases, to help you answer all the questions over time.

            .feature
                h3 Suitable For Worldwide Use
                p While some tools are local installations and thus may lack full support or some important templates, with Data Stewardship Wizard you do not have to worry about it. We provide support for everyone anywhere. Also, our questionnaires are completely independent of the template hence the country as well. You can generate a DMP in different templates for one questionnaire without the need to rewrite it!

            .feature
                h3 Various Sharing Options
                p You can set the visibility settings to be completely private, or allow users to view your project or edit it. Moreover, you can make the questionnaire link available even for non-logged users, share it with them, and start to collaborate.

            .feature
                h3 Machine-Actionability
                p Some work can be done by machines and that can save the time of many people and also make things easier. Unlike working with blocks of text that are hard to read and work with for machines, Data Stewardship Wizard was developed to use a bare minimum of free text and uses UUID for each question and answers in its machine-actionable DMPs so that machines can read them easily and decide accordingly to spare your time and effort.

            .feature
                h3 FAIR Metrics Information
                p Following the standards of GO FAIR initiative and good data management plans practices can be difficult and overwhelming. Data Stewardship Wizard is helping by providing summary reports of FAIR metrics based on your answers. To make it even easier it also shows which answers should be preferred according to these standards and metrics.

            .feature
                h3 TODOs
                p With our To Do labels you do not have to worry anymore about not being able to answer every question at the moment. You can just mark it and answer it later through your TODOs list.

            .feature
                h3 Live Collaboration 
                p Everything is better with friends! In the DSW multiple users can fill the DMP at the same time and see the changes made by others in real-time, just like you know it from Google Docs.

            .feature
                h3 Languages (other than English)
                p Data Stewardship Wizard is provided in English only. It is because we believe that in today's world the English language is essential and is fully accepted as the primary language for creating DMPs.

            .feature
                h3 Funder Templates 
                p We are working on increasing the number of Funder templates that the DSW offers, so you can easily use them while applying your project at the most common funding agencies. It takes a lot of work but we are looking forward to presenting you more funder templates soon! 

            .disclaimer
                strong Disclaimer:
                |  This comparison is only informative and it is not presented as a rigorous result of a scientific study. Please note that all the comparisons mentioned herewith have been compiled based on information available on the tool´s official websites. Tools that don't make information about some of the features publicly available were asked for clarification via email and if no answer was received the item was marked as unknown. Also note that the meanings of comparisons are given in detail below the table and depict how DSW understands and standardly uses them, therefore can differ from how they are understood and used by other tools. 


        include ../partials/footer.pug
