html
    include ../partials/head.pug
    +head('Cookie Policy | Data Stewardship Wizard')
    body
        include ../partials/header.pug

        .container.container-default.container-cookie-policy
            h2 Cookie Policy
            
            p This Cookie Policy explains how DSW (“Company“, “we“, “us“, and “our“) uses cookies and similar technologies to recognize you when you visit our website at https://ds-wizard.org, (“Website“). It explains what these technologies are and why we use them, as well as your rights to control our use of them.

            p In some cases we may use cookies to collect personal information, or that becomes personal information if we combine it with other information.

            h3 What are cookies?
            p Cookies are small data files that are placed on your computer or mobile device when you visit a website. Cookies are widely used by website owners in order to make their websites work, or to work more efficiently, as well as to provide reporting information.
            p Cookies set by the website owner (in this case, DSW) are called “first party cookies”. Cookies set by parties other than the website owner are called “third party cookies”. Third party cookies enable third party features or functionality to be provided on or through the website (e.g. analytics). The parties that set these third party cookies can recognize your computer both when it visits the website in question and also when it visits certain other websites.

            h3 Why do we use cookies?
            p We use first and third party cookies for several reasons. Some cookies are required for technical reasons in order for our Websites to operate, and we refer to these as “essential” or “strictly necessary” cookies. Other cookies also enable us to track and target the interests of our users to enhance the experience on our Online Properties. Third parties serve cookies through our Websites for analytics and other purposes.

            h3 How can I control cookies?
            p You have the right to decide whether to accept or decline cookies. You can exercise your cookie rights by setting your preferences in the Cookie Consent Manager. The Cookie Consent Manager allows you to select which categories of cookies you accept or reject. Essential cookies cannot be rejected as they are strictly necessary to provide you with services.

            p The Cookie Consent Manager can be found in the notification banner and on our website. If you choose to reject cookies, you may still use our website though your access to some functionality and areas of our website may be restricted. You may also set or amend your web browser controls to accept or refuse cookies. As the means by which you can refuse cookies through your web browser controls vary from browser-to-browser, you should visit your browser’s help menu for more information.

            p The specific types of first and third party cookies served through our Websites and the purposes they perform are described in the table below (please note that the specific cookies served may vary depending on the specific Online Properties you visit):

            h3 Analytics and customization cookies
            p These cookies collect information that is used either in aggregate form to help us understand how our Websites are being used, or to help us customize our Websites for you.

            table
                tr
                    td Name
                    td #collect

                tr
                    td Purpose
                    td Sends data such as visitor’s behavior and device to Google Analytics. It is able to keep track of the visitor across marketing channels and devices. It is a pixel tracker type cookie whose activity lasts within the browsing session.
                
                tr
                    td Provider
                    td termly.io

                tr
                    td Service
                    td Google Analytics View Service Privacy Policy
                tr
                    td Country
                    td United States
                tr
                    td Type
                    td pixel_tracker
                tr
                    td Expires in
                    td session


            table
                tr
                    td Name
                    td _gid

                tr
                    td Purpose
                    td Keeps an entry of unique ID which is then used to come up with statistical data on website usage by visitors. It is a HTTP cookie type and expires after a browsing session.
                
                tr
                    td Provider
                    td termly.io

                tr
                    td Service
                    td Google Analytics View Service Privacy Policy  
                tr
                    td Country
                    td United States
                tr
                    td Type
                    td http_cookie
                tr
                    td Expires in
                    td 1 day
    
            table
                tr
                    td Name
                    td _ga

                tr
                    td Purpose
                    td It records a particular ID used to come up with data about website usage by the user. It is a HTTP cookie that expires after 2 years.
                
                tr
                    td Provider
                    td termly.io

                tr
                    td Service
                    td Google Analytics View Service Privacy Policy  
                tr
                    td Country
                    td United States
                tr
                    td Type
                    td http_cookie
                tr
                    td Expires in
                    td 1 year 12 months 4 days

    
            table
                tr
                    td Name
                    td _gat#

                tr
                    td Purpose
                    td Enables Google Analytics regulate the rate of requesting. It is a HTTP cookie type that lasts for a session.
                
                tr
                    td Provider
                    td termly.io

                tr
                    td Service
                    td Google Analytics View Service Privacy Policy  
                tr
                    td Country
                    td United States
                tr
                    td Type
                    td http_cookie
                tr
                    td Expires in
                    td 1 minute


        include ../partials/footer.pug