html
    include ../partials/head.pug
    +head('Data Stewardship Wizard')
    body
        include ../partials/header.pug

        .content
            .container.container-homepage
                h1 Data Stewardship Wizard
                .tagline Create Smart Data Management Plans<br>for FAIR Open Science
                .get-started
                    a.btn.btn-primary.btn-cta(href="/get-started.html")
                        img(src="/static/icons/dsw.svg")
                        span Get started

                .app
                    img(src="/static/app.png", srcset='/static/app.png 1x, /static/app@2x.png 2x')

                .section.section-story

                    .story
                        h2#story-scilifelab The SciLifeLab DSW Story
                        blockquote Our story started in 2018 with the development of a data management plan (DMP) template targeted at projects generating NGS data at SciLifeLab. We wanted to provide this template to a wider audience and hence needed an online resource. Through the ELIXIR network we knew about the Data Stewardship Wizard, and decided to try it out.
                        a(href='/scilifelab-dsw-story.html') Read the full story &rarr;

                    .story
                        h2#story-scilifelab The ELIXIR Norway DSW Story
                        blockquote Norwegian funders require that research groups submit data management plans (DMPs) upon signing the contract for their research projects. Generating a DMP has been regarded by many researchers as a mere administrative burden, rather than a tool to revise their habits and support their projects.
                        a(href='/elixir-norway-dsw-story.html') Read the full story &rarr;

                .section
                    h2#dsw-workflow DSW Workflow

                    .workflow
                        .step
                            .image
                                img(src="/static/illustrations/setup_wizard.svg")
                            h3 1. Fill in the smart questionnaire

                        .step
                            .image
                                img(src="/static/illustrations/upload.svg")
                            h3 2. Generate the Data Management Plan

                        .step
                            .image
                                img(src="/static/illustrations/printing_invoices.svg")
                            h3 3. Get funded

                .section
                    h2#sponsors Sponsors

                    .intro
                        p We highly appreciate any form of feedback and support from the community. You or your organisation can support DSW development easily using #[a(href="https://github.com/sponsors/ds-wizard", target="_blank") GitHub Sponsors]. We are also ready to provide you our #[a(href="/services.html", target="_blank") professional services] if you have specific requirements or feature requests matching your needs.

                    .get-started
                        a.btn.btn-primary.btn-cta(href="https://github.com/sponsors/ds-wizard", target="_blank")
                            img(src="/static/icons/sponsor.svg")
                            span Sponsor DSW @ GitHub

                .section
                    h2#users Researchers from these institutions are using DSW

                    .users
                        a(href="https://www.go-fair.org", target="_blank")
                            img(src="/static/logo/go-fair.png", alt="GOFAIR")
                        a(href="https://www.scilifelab.se/data/", target="_blank")
                            img(src="/static/logo/scilifelab.png", alt="SciLifeLab Data Centre")
                        a(href="https://digitallifenorway.org/gb/", target="_blank")
                            img(src="/static/logo/centre-for-digital-life-norway.png", alt="Centre for Digital Life Norway")
                        a(href="https://osc.jyu.fi/en", target="_blank")
                            img(src="/static/logo/uoj.png",  alt="Open Science Centre of University of Jyväskylä")
                        a(href="https://www.inesc-id.pt", target="_blank")
                            img(src="/static/logo/inesc-id.png", alt="INESC-ID")
                        a(href="https://elixir.no", target="_blank")
                            img(src="/static/logo/elixir_norway_white_background.png", alt="ELIXIR Norway")
                        a(href="https://www.nmbu.no/en", target="_blank")
                            img(src="/static/logo/norwegian-university-of-life-sciences-153-logo.png", alt="Norwegian University of Life Sciences")
                        a(href="https://www.ntnu.edu", target="_blank")
                            img(src="/static/logo/NTNU-logo-with-name_eng.png", alt="NTNU: Norwegian University of Science and Technology")
                        a(href="https://www.uib.no/en", target="_blank")
                            img(src="/static/logo/standard_uib.png", alt="University of Bergen")
                        a(href="https://www.uio.no/english/", target="_blank")
                            img(src="/static/logo/university_of_oslo_logo.png", alt="University of Oslo")
                        a(href="https://en.uit.no/", target="_blank")
                            img(src="/static/logo/University_of_Tromso_logo.svg", alt="University of Tromsø")
                        a(href="https://www.biodata.pt", target="_blank")
                            img(src="/static/logo/biodata.png", alt="BioData.pt")
                        a(href="https://www.elixir-belgium.org", target="_blank")
                            img(src="/static/logo/elixir_belgium.png", alt="ELIXIR Belgium")
                        a(href="https://gulbenkian.pt/en/", target="_blank")
                            img(src="/static/logo/gulbenkian.png", alt="Fundação Calouste Gulbenkian")
                        a(href="https://www.ulisboa.pt/en", target="_blank")
                            img(src="/static/logo/ulisboa.png", alt="Universidade de Lisboa")

                    .users
        include ../partials/footer.pug
