html
    include ../partials/head.pug
    +head('Resources | Data Stewardship Wizard')
    body
        include ../partials/header.pug

        .container.container-default
            h2 The SciLifeLab DS Wizard Story

            p Our story started in 2018 with the development of a data management plan (DMP) template targeted at projects generating NGS data at SciLifeLab. We wanted to provide this template to a wider audience and hence needed an online resource. Through the ELIXIR network we knew about the Data Stewardship Wizard, and decided to try it out. We have two installations of the wizard, one playground for testing and one for serious use, both open for the nation-wide life science community.

            p The main advantage of this tool is the many possibilities to guide the user through the process of writing a DMP, not only with written advice but also with the hierarchical question structure (less overwhelming), different answer types (enable less free text fields), and possibility of suggested answers and validation using integration to registries of tools, data types, standards, and repositories. Another advantage with this tool is the ease of creating knowledge models (KM) from scratch, and to update them when necessary. We have developed our own KM, based on the initial template and adapted it to adhere to the national guidelines. We also appreciate its provisions for interoperability, making it easier to create DMPs that are in themselves machine readable and FAIR.

            p During 2019, the awareness in the Swedish research community of the necessity of good data management practices and open science has evolved, and both funders as well as research infrastructures now require, or are in the process of requiring, DMPs on granted projects. We have had two successful workshops, ‘Bring your own DMP’ events, giving hands-on consultation and demonstrating the usefulness of the wizard. The need for a FAIR and flexible tool will keep on increasing and we look forward to a continued journey with DSW and the team behind it.

            p
                | <strong>Yvonne Kallberg</strong>, NBIS, SciLifeLab, Stockholm University
                br
                | <strong>Niclas Jareborg</strong>, NBIS, SciLifeLab, Stockholm University
                br
                | <strong>Hanna Kultima</strong>, SciLifeLab Data Centre, Uppsala University
                br
                | <strong>Johan Rung</strong>, SciLifeLab Data Centre, Uppsala University


        include ../partials/footer.pug