html
    include ../partials/head.pug
    +head('Professional Services | Data Stewardship Wizard')
    body
        include ../partials/header.pug

        .container.container-default.container-services
            h2 Professional Services

            .services
                .description
                    p We are open to individual contracts covering specific needs:

                    ul
                        li Knowledge model customization and consulting

                        li Custom features development

                        li Custom document templates and exports

                        li Deployment and configuration support

                        li Custom branding and styling

                        li Tailored trainings for companies

                    br

                    p #[a(href="/contact.html") Contact us] for more information if you are interested.
                
                .image
                    img(src="/static/illustrations/interview.svg")

        include ../partials/footer.pug