html
    include ../partials/head.pug
    +head('Terms of Service | Data Stewardship Wizard')
    body
        include ../partials/header.pug

        .container.container-default
            h2 Terms of Service

            h3 Introduction

            p Data Stewardship Wizard (DS Wizard, DSW) is a tool developed, maintained, and hosted by team [we] from Czech Technical University in Prague (ELIXIR-CZ) for research community and [you] as its user.

            h3 Personal Data and Consent Notice

            p To identify and manage users within DSW, we need to store unique identifier, name, affiliation (optional), and email address gathered upon registration or login via OpenID identity provider. We may also use it to contact you to obtain feedback on your use of the tool, or to inform you of the latest developments or releases. We will not sell, rent, or trade any personal information you provide to us. By using this system, you consent to the collection, retention, and use of your personal information in accordance with the above. You have the right to ask us not to process your personal details for marketing purposes.

            h3 Privacy Policy

            p The information you enter into DSW is visible to you and others according to used privacy settings set by you. Moreover, for the purposes of service maintenance, statistics, and development, administrators have access to all data. We may compile anonymized, automated, and aggregated information from your data, but we will not directly access, make use of, or share its content with other subject without your permission.

            p With respect to the #[a(href="https://geant3plus.archive.geant.net/uri/dataprotection-code-of-conduct/v1", target="_blank") GÉANT Data Protection Code of Conduct], we can be recognized as a service provider committed to this code of conduct. More information can be found in our #[a(href="/privacy.html") Privacy Policy].

            h3 Freedom of Information

            p All questionnaires, knowledge models, documents and other such entities created and stored in DSW are under your own responsibility. Although we store those data, we are not liable in any aspect for the content.

                
            h3 Passwords

            p All user passwords entered in DSW are stored in encrypted form and cannot be retrieved. The forgotten password mechanism therefore requires verified email for resetting the password.

                
            h3 Third party APIs

            p Certain features on this website utilize third party services and APIs, e.g., for type-hint integrations, OpenID authentication, or document submission. Information used by an external service is governed by the privacy policy of that service.

            h3 Revisions

            p This statement was last revised on May 10, 2020 and may be revised at any time. Use of the tool indicates that you understand and fully agree to these terms and conditions. Getting acquainted with current version of these terms as well as checking for its updates is the responsibility of every user.

        include ../partials/footer.pug
