.footer
    .container.footer-content
        .footer-content-section.contanct
            strong Contact
            ul
                li
                    a(href='mailto:info@dsw.fairdata.solutions') info@dsw.fairdata.solutions
        .footer-content-section.team
            strong Data Stewardship Action Team
            ul
                li
                    a(href='http://elixir-czech.cz/', target='_blank')
                        img(src='static/team-elixir-cz.png', alt='Elixir Czech Republic', title='Elixir Czech Republic')
                li
                    a(href='https://www.uochb.cz/', target='_blank')
                        img(src='static/team-iocb.png', alt='Institute of Organic Chemistry and Biochemistry of the CAS', title='Institute of Organic Chemistry and Biochemistry of the CAS')
                li
                    a(href='http://ccmi.fit.cvut.cz/en', target='_blank')
                        img(src='static/team-ccmi.png', alt='Centre for Conceptual Modelling and Implementation', title='Centre for Conceptual Modelling and Implementation')
                li
                    a(href='http://fit.cvut.cz/en', target='_blank')
                        img(src='static/team-fit-ctu.png', alt='Faculty of Information Technology', title='Faculty of Information Technology')
                li
                    a(href='http://www.dtls.nl/elixir-nl/elixir-nl-2/', target='_blank')
                        img(src='static/team-elixir-nl.png', alt='Elixir Netherlands', title='Elixir Netherlands')
                li
                    a(href='http://www.dtls.nl/', target='_blank')
                        img(src='static/team-dtl.png', alt='Dutch Techcentre for Life Sciences', title='Dutch Techcentre for Life Sciences')
        .footer-content-section.links
            strong Links
            ul
                li
                    a(href='http://www.elixir-europe.org/', target='_blank') ELIXIR&nbsp;Europe
                li
                    a(href='http://www.elixir-europe.org/about/elixir-nodes', target='_blank') ELIXIR&nbsp;Nodes
                li
                    a(href='https://github.com/DataStewardshipWizard', target='_blank') GitHub
                li
                    a(href='/privacy.html') Privacy

