html
    include partials/head.pug
    +head('Enterprise | Data Stewardship Wizard')
    body
        include partials/header.pug
        +header-small()

        .content
            .row
                h2 Enterprise

                p Lorem ipsum

        include partials/footer.pug
