html
    include partials/head.pug
    +head('Data Stewardship Wizard')
    body
        .header-landing
            a.app-link.bordered.primary(href='https://app.ds-wizard.org') Go to App
            img.logo(src='static/logo-horizontal.svg')
            .subtitle
                p Smart Data Management Plans for FAIR Open Science
                p For Serious Researchers and Data Stewards


        .content
            .container.content-row.flipped
                .text
                    h2 Easily create comprehensive data management plans
                    p Our smart questionnaire will effortlessly guide you through the vast knowledge of data stewardship by asking you <strong>questions</strong>, offering <strong>hints</strong>, <strong>multimedia contents</strong>, <strong>external resources</strong> and <strong>community help</strong>.
                    p
                      em This is data stewardship done seriously for the project success, not just to make your funder happy!
                    a.bordered.primary(href='https://app.ds-wizard.org/questionnaire') Try Demo
                img(src='static/screenshot-questionnaire.png', srcset='static/screenshot-questionnaire.png 1x, static/screenshot-questionnaire@2x.png 2x')
            .container.content-row
                .text
                    h2 Extend the knowledge
                    p DS Wizard is a living place, you can <strong>contribute to its knowledge base</strong> by giving feedback, discussing with others and adding resources and even new areas of expertise.
                    a.bordered.primary(href='https://app.ds-wizard.org') Try it out
                img(src='static/screenshot-editor.png', srcset='static/screenshot-editor.png 1x, static/screenshot-editor@2x.png 2x')
            .container.content-row.flipped
                .text
                    h2 Learn more!
                    p Interested in the Data Stewardship Wizard? Want to learn more about the project?
                    a.bordered.primary(href='https://docs.ds-wizard.org/about-dsw', target='_blank') Learn more
                img(src='static/screenshot-docs.png', srcset='static/screenshot-docs.png 1x, static/screenshot-docs@2x.png 2x')
            .container.options
                h2 How to use the Data Stewardship Wizard
                .options-row
                    .option
                        h3 Demo instance
                        .description
                            ul
                                li Try all the features of DSW
                                li Easy to sign up and use
                                li A shared instance with the other users
                                li Good to try DSW out
                        .action
                            a.bordered.secondary(href="https://app.ds-wizard.org/signup") Sign up
                    .option.dark
                        h3 Self-hosted instance
                        .description
                            ul
                                li All the DSW features available
                                li Your own instance
                                li You need to host and run the instance by yourself
                                li Good for serious usage
                        .action
                            a.bordered.secondary.reversed(href="https://docs.ds-wizard.org/installation") Show me how
                    .option.primary
                        h3 Instance hosted by us
                        .description
                            p If you would like to have your private instance and you do not want to run it yourself, reach to us.
                            p Contact us as at <a href="mailto:info@ds-wizard.org">info@ds-wizard.org</a>.
                        .action

        include partials/subscribe-form.pug

        include partials/footer.pug
