html
    include partials/head.pug
    +head('Data Stewardship Wizard')
    body
        include partials/header.pug

        .content
            .container.container-homepage
                h1 Data Stewardship Wizard
                .tagline Create Smart Data Management Plans<br>for FAIR Open Science
                .get-started
                    a.btn.btn-primary.btn-cta(href="/get-started.html")
                        img(src="/static/icons/dsw.svg")
                        span Get started

                .app
                    img(src="/static/app.png", srcset='/static/app.png 1x, /static/app@2x.png 2x')

                .section
                    h2 DSW Workflow

                    .workflow
                        .step
                            .image
                                img(src="/static/illustrations/setup_wizard.svg")
                            h3 1. Fill in the smart questionnaire

                        .step
                            .image
                                img(src="/static/illustrations/upload.svg")
                            h3 2. Generate the Data Management Plan

                        .step
                            .image
                                img(src="/static/illustrations/printing_invoices.svg")
                            h3 3. Get funded

                .section
                    h2 Who is using DSW

                    .users
                        a(href="https://www.go-fair.org", target="_blank")
                            img(src="/static/logo/go-fair.png", alt="GOFAIR")
                        a(href="https://www.scilifelab.se/data/", target="_blank")
                            img(src="/static/logo/scilifelab.png", alt="SciLifeLab Data Centre")
                        a(href="https://osc.jyu.fi/en", target="_blank")
                            img(src="/static/logo/uoj.png",  alt="Open Science Centre of University of Jyväskylä")
                        a(href="https://www.inesc-id.pt", target="_blank")
                            img(src="/static/logo/inesc-id.png", alt="INESC-ID")

        include partials/footer.pug
