html
    include partials/head.pug
    +head('Data Stewardship Wizard')
    body
        include partials/header.pug
        +header-big()

        .content
            .container.content-row
                .text
                    h2 Easily create comprehensive data management plans
                    p Our smart questionnaire will effortlessly guide you through the vast knowledge of data stewardship by asking you <strong>questions</strong>, offering <strong>hints</strong>, <strong>multimedia contents</strong>, <strong>external resources</strong> and <strong>community help</strong>.
                    p
                      em This is data stewardship done seriously for the project success, not just to make your funder happy!
                    a(href='https://app.dsw.fairdata.solutions/questionnaire') Try Demo
                img(src='static/screenshot-editor.png', srcset='static/screenshot-editor.png 1x, static/screenshot-editor@2x.png 2x')
            .container.content-row
                .text
                    h2 Extend the knowledge
                    p DS Wizard is a living place, you can <strong>contribute to its knowledge base</strong> by giving feedback, discussing with others and adding resources and even new areas of expertise.
                    a(href='https://app.dsw.fairdata.solutions') Try it out
                img(src='static/screenshot-questionnaire.png', srcset='static/screenshot-questionnaire.png 1x, static/screenshot-questionnaire@2x.png 2x')
            .container.content-row
                .text
                    h2 Learn more!
                    p Interested in the DS Wizard architecture? Want to learn more about the project?
                    a(href='https://github.com/DataStewardshipWizard/dsw-common/wiki') Learn more
                img(src='static/screenshot-wiki.png', srcset='static/screenshot-wiki.png 1x, static/screenshot-wiki@2x.png 2x')

        include partials/footer.pug
