html
    include partials/head.pug
    +head('Resources | Data Stewardship Wizard')
    body
        include partials/header.pug

        .container.container-default.container-resources
            h2 Resources

            h3 Publications

            ul
                li Sustkova, H. P., Hettne, K. M., Wittenburg, P., Jacobsen, A., Kuhn, T., Pergl, R., Slifka, J., McQuilton, P., Magagna, B., Sansone, S.-A., Stocker, M., Imming, M., Lannom, L., Musen, M., &amp; Schultes, E. (2020). <strong>FAIR Convergence Matrix: Optimizing the Reuse of Existing FAIR-Related Resources.</strong> Data Intelligence, 2(1–2), 158–170. <a href="https://doi.org/10.1162/dint_a_00038" target="_blank">https://doi.org/10.1162/dint_a_00038</a>
                li Pergl, R., Hooft, R., Suchánek, M., Knaisl, V., &amp; Slifka, J. (2019). <strong>“Data Stewardship Wizard”: A Tool Bringing Together Researchers, Data Stewards, and Data Experts around Data Management Planning.</strong> Data Science Journal, 18. <a href="https://doi.org/10.5334/dsj-2019-059" target="_blank">https://doi.org/10.5334/dsj-2019-059</a>
                li Jones, S., Pergl, R., Hooft, R., Miksa, T., Samors, R., Ungvari, J., Davis, R. I., &amp; Lee, T. (2020). <strong>Data Management Planning: How Requirements and Solutions are Beginning to Converge.</strong> Data Intelligence, 2(1–2), 208–219. <a href="https://doi.org/10.1162/dint_a_00043" target="_blank">https://doi.org/10.1162/dint_a_00043</a>
                
            h3 Presentations

            ul
                li
                    strong
                        a(href="https://drive.google.com/a/fit.cvut.cz/file/d/1DTuXj8DyoxCVW1u57yvGilOlRlZs1BI6/view", target="_blank") Data Stewardship Wizard
                    br
                    | Jan Slifka
                    br
                    em EOMAS 2019, 4 June 2019, Rome, Italy

                li
                    strong
                        a(href="https://docs.google.com/presentation/d/18pa7k_zPP40KegZzGu5ddWS3M0ybwW0JyXU2HvMFI_E/edit", target="_blank") Data Stewardship Wizard
                    br
                    | Robert Pergl, Rob Hooft, Vojtěch Knaisl, Jan Slifka, Marek Suchánek
                    br
                    em 17 January 2019, Leiden, Netherlands

            h3 Workshops

            ul
                li
                    strong
                        a(href="https://docs.google.com/document/d/1Oxbymgf8uLzie_pxpWMzwtB68Yrg1AV5lIirEa0MyvY/edit#heading=h.q473tysfaaz8", target="_blank") ELIXIR-NL Training: Technical Data Stewardship
                    br
                    | Rob Hooft, Robert Pergl, Jan Slifka
                    br
                    em 2 December 2019, Amsterdam, Netherlands
                li 
                    strong 
                        a(href="https://f1000research.com/slides/8-1003", target="_blank") How to grow your own Data Stewardship Wizard
                    br
                    | Jan Slifka, Vojtěch Knaisl, Marek Suchánek
                    br
                    em ELIXIR - EXCELERATE All Hands meeting 2019, 19 June 2019, Lisbon, Portugal
                    
                li
                    strong
                        a(href="https://docs.google.com/presentation/d/1DUHIOAjeDJ_n7qPYKprlcpAVKW8xjImLsJIywYZxOys/edit", target="_blank") DSW Prague Hackathon
                    br
                    | Robert Pergl, Marek Suchánek, Jan Slifka, Vojtěch Knaisl
                    br
                    em 4 December 2018, Prague, Czech Republic
                li 
                    strong
                        a(href="http://www.igst.it/nettab/2018/programme/tutorials/#Tutorial2", target="_blank") The ELIXIR Data Stewardship Wizard – how to guide life science researchers towards FAIR data management
                    br
                    | Rob Hooft, Vojtěch Knaisl, Jan Slifka
                    br
                    em NETTAB 2018, 24 October 2018, Genova, Italy
                
            

            h3 Posters

            ul
                li
                    strong
                        a(href="https://zenodo.org/record/3649752#.XjxWubfPyiM", target="_blank") Data Stewardship Wizard in the FAIR Ecosystem
                    br
                    | Marek Suchánek, Robert Pergl, Rob Hooft, Jan Slifka, Vojtěch Knaisl
                    br
                    em ELIXIR CZ Annual Conference 2019, 11 November 2019, Kurdějov, Czech Republic
                    
                li
                    strong
                        a(href="https://f1000research.com/posters/8-1086", target="_blank") Data Stewardship Wizard
                    br
                    | Robert Pergl, Marek Suchánek, Jan Slifka, Vojtěch Knaisl, Rob Hooft, Mateusz Kuzak
                    br
                    em ELIXIR - EXCELERATE All Hands meeting 2019, 19 June 2019, Lisbon, Portugal
                    


        include partials/footer.pug